@font-face {
    font-family: 'font';
    src: url('sp-light.otf');
}

body {
    margin: 0;
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #2f2f30;
    overflow-x: hidden;
    overflow-y: hidden;
}

#ticket {
    -webkit-box-shadow: 0px 0px 50px 0px rgba(79, 79, 79, 0.21);
    -moz-box-shadow: 0px 0px 50px 0px rgba(79, 79, 79, 0.21);
    box-shadow: 0px 0px 50px 0px rgba(79, 79, 79, 0.21);
}

#wrap {
    height: 100vh;
    max-width: 414px;
    max-height: 848px;
    width: 100%;
    background-color: white;
    background-image: url('img/page1.png');
    background-size: cover;
    position: relative;
}

.space-1 {
    height: 44px;
    width: 100%;
}

.ticket-space {
    padding: 0 16px 0 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.active {
    height: 63px;
    width: 100%;
    font-weight: 700;
    font-size: 23px;
    line-height: 320%;
}

.ticket-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 6px;
    height: 302px;
    width: 100%;
}

.ticket {
    width: 177px;
    height: 302px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.info-wrap {
    padding: 4px 0;
    width: 199px;
    max-width: 199px;
}

.info {
    padding-left: 34px;
    font-size: 14px;
    line-height: 118%;
    letter-spacing: 0px;
}

.divider {
    background-color: #e5e5e5;
    margin-left: 33px;
    width: 162px;
    height: 1px;
    margin-top: 8px;
    margin-bottom: 8px;
    opacity: 0;
}

.info:nth-last-child(1) {
    margin-top: 13px;
    text-decoration: underline;
    font-size: 14px;
    
    letter-spacing: 0.1px;
}

.discount {
    width: 100%;
}

.discount img {
    margin: 4px 4px;
    max-width: 169px;
}

.control {
    width: 100%;
    max-width: 169px;
    height: 36px;
    margin: 5px 4px;
}

.control:hover {
    cursor: pointer;
}

#ticket {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; 
    max-width: 414px;
    max-height: 848px;
    background-color: white;
    background-image: url('img/page2.png');
    background-size: cover;
}

#time-passed {
    position: absolute;
    color: #e05571;
    font-weight: 700;
    font-size: 26px;
    top: 271px;
    right: 20px;
    opacity: 0;
}

#time-passed-full {
    position: absolute;
    right: 20px;
    top: 265px;
    width: 200px;
    text-align: right;
    line-height: 140%;
    background-color: white;
}

#purchase-time-24h {
    color: #3d3b55;
    font-weight: 700;
    font-size: 26px;
}

#purchase-time-date {
    color: #3d3b55;
    font-weight: 500;
}

#line-no, #name, #date {
    all: unset;
}

#date {
    position: absolute;
    color: #636168;
    font-weight: 700;
    font-size: 15px;
    bottom: 105px;
    padding-left: 68px;
    outline: none;
    border: none;
    font-weight: 500;
    width: 100%;
}

#name {
    position: absolute;
    color: #4e4d68;
    font-weight: 700;
    font-size: 32px;
    bottom: 120px;
    padding-left: 68px;
    outline: none;
    border: none;
    font-weight: 700;
    width: 100%;
}

#line-no {
    position: absolute;
    color: #3d3b55;
    font-weight: 700;
    font-size: 30px;
    top: 204px;
    right: 40px;
    outline: none;
    border: none;
    font-weight: 700;
    width: 60px;
    text-align: center;
}

#line-no::placeholder, #name::placeholder, #date::placeholder {
    opacity: 1;
}

#gif-overlay {
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

#gif-overlay-2 {
    width: 100%;
    height: 108px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fefdfd;
    z-index: 2;
    mix-blend-mode: darken;
}

#gif img {
    max-width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 1;
}

#qrcode {
    width: 100%;
    height: 238px;
    top: 356px;
    position: absolute;
    text-align: center;
    z-index: 3;
}

#qrcode img {
    width: 238px;
    margin-left: auto;
    margin-right: auto;
}

#ticket-id {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin: 10px;
}

#back {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
}